<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pokemon</title>
    <%- include("./imports.ejs") %>
</head>
<body>
    
    <div class="top">
        <h1>Pokemon Manager</h1>
        <h4><a href="/pokemon"><button class="home">Home</button></a></h4>
    </div>

    <div class="bottom">
        <h2 class="create_header">Create a Pokemon</h2>
        <form class="manager" class="new_form" action="/pokemon" method="post">
            <input type="text" name="name" placeholder="Pokemon name"/>
            <input list="types" name="type" id="type" placeholder="Type"/>
                <datalist id="types">
                    <option value="Normal">
                    <option value="Bug">
                    <option value="Dragon">
                    <option value="Electric">
                    <option value="Fighting">
                    <option value="Fire">
                    <option value="Flying">
                    <option value="Ghost">
                    <option value="Grass">
                    <option value="Ground">
                    <option value="Ice">
                    <option value="Poison">
                    <option value="Psychic">
                    <option value="Rock">
                    <option value="Steel">
                    <option value="Water">
                </datalist>
            <input type="number" name="hp" placeholder="HP" />
            <input type="number" name="attack" placeholder="Attack">
            <input type="number" name="defense" placeholder="Defense">
            <input type="number" name="spattack" placeholder="SP Attack">
            <input type="number" name="spdefense" placeholder="SP Defense">
            <input type="number" name="speed" placeholder="Speed">
            <input class="create" type="submit" value="Create Pokemon" />
        </form>

    </div>

</body>
</html>