@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');


body {
    background-color: rgb(85, 88, 88);
}

h1, h2, .add, .create, .edit_button, .delete_button, .edit_submit, .home, .img_container, .stats, .type{
    font-family: VT323;
}

h1 {
    color: black;
    font-size: 3em;
}

ul {
    list-style: none;
}

.index_img {
    border-radius: 25px;
    height: 10em;
    width: 10em;
    padding: .5em;
}

.show_img {
    border-radius: 25px;
    height: 14em;
    width: 14em;
    padding: .5em;
}

.img_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;

}

.top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 20px;
    padding: 0 1em;
    background-color:  rgb(186, 9, 9);
}

.bottom {
    background-color: rgb(242, 231, 104);
    border-radius: 20px;
    height: 100vh;    
}

.manager {
    display: grid;
    gap: 1em;
    width: 4em;
}

.info {
    display:flex;
    gap: 3em;
    text-align: center;
}

.name {
    font-size: 2em;
}

.stats, .type {
    font-size: 1.5em;
    
}

.list{
    text-align: left;
    
}

.add {
    border-radius: 15px;
    padding: .7em;
    background-color: rgb(228, 175, 42);
    border: none;
    font-size: 1.2em;
}

.create, .edit_submit {
    border-radius: 10px;
    padding: .5em;
    font-size: 1em;
    background-color: rgb(228, 175, 42);
    border: none;
}

.img_container {
    border: 1px solid black;
    text-align: center;
    
}

.change {
    display: flex;
    gap: 1em;
       
}

.delete_button, .edit_button {
    background-color: rgb(228, 175, 42);
    border: none;   
}

.home {
    color: black;
    font-size: 1.5em;
    background-color: rgb(228, 175, 42);
    border: none;
    padding: .5em;
    border-radius: 15px;
}